$mobile = 829px

$primary = #f18432
$secondary = #f39b4a
$white = #fff
$black = #333
$gray = #aaa

.color--
  &primary
    color: $primary
  &secondary
    color: $secondary
  &white
    color: $white
  &black
    color: $black
  &gray
    color: $gray

.border--
  &primary
    border-color: $primary
  &secondary
    border-color: $secondary
  &white
    border-color: $white
  &black
    border-color: $black
  &gray
    border-color: $gray

.background--
  &primary
    background-color: $primary
  &secondary
    background-color: $secondary
  &white
    background-color: $white
  &black
    background-color: $black
  &gray
    background-color: $gray

.text-shadow--
  &primary
    text-shadow: -1px -1px 1px $primary,
      1px -1px 1px $primary,
      -1px 1px 1px $primary,
      1px 1px 1px $primary
  &black
    text-shadow: -1px -1px 1px $black,
      1px -1px 1px $black,
      -1px 1px 1px $black,
      1px 1px 1px $black
  &white
    text-shadow: -1px -1px 1px $white,
      1px -1px 1px $white,
      -1px 1px 1px $white,
      1px 1px 1px $white

.float
  &--right
    float: right
  &--left
    float: left

.align
  &--right
    text-align: right
  &--left
    text-align: left

*
  box-sizing: border-box

.clear:after
  content: ""
  display: block
  clear: both

a
  color: $secondary
  
  &:active,
  &:focus,
  &:hover
    
    &,
    & i:before
      color: $primary

body
  background-color: $black
  color: $white

header
  height: 5vh
  text-align: center
  line-height: 5vh
  font-size: 2.5vh

main
  position: relative
  min-height: 90vh
  text-align: center
  padding-top: 2.5vh
  line-height: 1.5em

footer
  height: calc(5vh - 1px)
  border-top: 1px solid $gray

#menuSelect
  height: 5vh
  width: 100%
  background-color: transparent
  border-radius: 0
  border: none
  font-size: 2.5vh
  box-shadow: none
